body {
	background-image: url(img/img20.png);
	background-size: cover;
	background-position: center;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

@media screen and (max-width: 768px) {
	.container {
		padding-top: 30px;
	}
	h1 {
		font-size: 2em;
	}
	p {
		font-size: 1em;
	}
}

@media screen and (max-width: 480px) {
	.container {
		padding-top: 20px;
	}
	h1 {
		font-size: 1.5em;
	}
	p {
		font-size: 0.8em;
	}
}

